.product-image {
    width: 200px;
    height: 200px;
}

ul {
    border: solid black 1px;
    font-size: 2rem;
    
}

li {
    padding: 30px;
    border: solid black 1px;
}

.description {
    font-size: 1.5rem;
    font-style: italic;
}

.cuisine-type {
    font-size: 1.5rem;
}

.meal-menu-header {
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.add-to-cart-button {
    border-radius: 50%;
    font-size: 1rem;
    color: whitesmoke;
    background-color: blue;
    
}